ion-toolbar {
  background-color: #fff;
  // color: #1b305a;
}

ion-card-title, ion-card-subtitle, ion-title{
 color: #1b5a1b;

}



ion-card-content {
  color: #333333;
}

ion-header{
  margin-top: 1.5rem;
}
